@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap?family=Roboto+Mono&display=swap");
/*****************************************************************************/
/* Typography */
:root {
  --codeBackgroundColor: #f8f8f8;
  --inlineCodeBackgroundColor: #f8f8f8;
  --codeBlue: #0000ff;
  --codeGreen: #008000;
  --dividerColor: rgba(0, 0, 0, 0.08);
  --faintFontColor: rgba(0, 0, 0, 0.6);
  --fontColor: #252630;
  --linkColor: #2980b9;
  --mainBackgroundColor: white;
  --mainNavColor: #3889ce;
  --notificationBannerColor: #176bb0;
  --searchHighlightColor: #fff150;
  --sidebarColor: white;
  --navbarHeight: 4rem;
}
:root[data-mode=darkest] {
  --mainBackgroundColor: black;
  --sidebarColor: black;
  --codeBackgroundColor: rgba(255, 255, 255, 0.1);
  --inlineCodeBackgroundColor: rgba(255, 255, 255, 0.1);
}
:root[data-mode=dark] {
  --mainBackgroundColor: #242429;
  --sidebarColor: #242429;
  --codeBackgroundColor: rgba(0, 0, 0, 0.1);
  --inlineCodeBackgroundColor: rgba(255, 255, 255, 0.06);
}
:root[data-mode=dark], :root[data-mode=darkest] {
  --codeBlue: #77baff;
  --codeGreen: #38c038;
  --dividerColor: rgba(255, 255, 255, 0.1);
  --faintFontColor: rgba(255, 255, 255, 0.6);
  --fontColor: white;
  --linkColor: #319be0;
  --searchHighlightColor: #fe8e04;
}

body {
  font-family: Roboto, "OpenSans", sans-serif;
  background-color: var(--mainBackgroundColor);
  color: var(--fontColor);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

/*****************************************************************************/
html {
  height: 100%;
  scroll-padding-top: var(--navbarHeight);
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/*****************************************************************************/
/* Top nav */
div#searchbox h3#searchlabel {
  display: none;
}
div#searchbox form.search {
  display: flex;
  flex-direction: row;
}
div#searchbox form.search input {
  display: block;
  box-sizing: border-box;
  padding: 0.3rem;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
}
div#searchbox form.search input[type=text] {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  flex-grow: 1;
  margin-right: 0.2rem;
}
div#searchbox form.search input[type=text]::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
div#searchbox form.search input[type=submit] {
  cursor: pointer;
  color: var(--mainNavColor);
  flex-grow: 0;
  border: none;
  background-color: white;
}

div#top_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
}
div#top_nav div#notification_banner {
  background-color: var(--notificationBannerColor);
  box-sizing: border-box;
  padding: 0.1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
div#top_nav div#notification_banner a.close {
  flex-grow: 0;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.85);
  text-align: right;
  font-size: 0.6rem;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  margin-left: 0.5rem;
}
div#top_nav div#notification_banner a.close:hover {
  color: white;
}
div#top_nav div#notification_banner p {
  flex-grow: 1;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2;
  padding: 0.4rem 0;
}
div#top_nav div#notification_banner p a {
  color: white;
  text-decoration: underline;
}
div#top_nav nav {
  background-color: var(--mainNavColor);
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div#top_nav nav h1 {
  flex-grow: 1;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0 0 0.8rem;
  line-height: 1;
}
div#top_nav nav h1 a {
  color: white;
}
div#top_nav nav h1 img {
  height: 1.3rem;
  width: auto;
}
div#top_nav nav p#toggle_sidebar {
  transform: rotate(90deg);
  letter-spacing: 0.1rem;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}
div#top_nav nav p#toggle_sidebar a {
  color: white;
  font-weight: bold;
}
div#top_nav nav a#mode_toggle, div#top_nav nav a#source_link {
  margin-right: 1rem;
  display: block;
  flex-grow: 0;
}
div#top_nav nav a#mode_toggle svg, div#top_nav nav a#source_link svg {
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: middle;
}
div#top_nav nav p.mobile_search_link {
  margin: 0;
}
@media (min-width: 50rem) {
  div#top_nav nav p.mobile_search_link {
    display: none;
  }
}
div#top_nav nav p.mobile_search_link a {
  color: white;
}
div#top_nav nav p.mobile_search_link a svg {
  height: 1rem;
  vertical-align: middle;
}
@media (max-width: 50rem) {
  div#top_nav nav div.searchbox_wrapper {
    display: none;
  }
}
div#top_nav nav div.searchbox_wrapper div#searchbox {
  align-items: center;
  display: flex !important;
  flex-direction: row-reverse;
}
div#top_nav nav div.searchbox_wrapper div#searchbox p.highlight-link {
  margin: 0 0.5rem 0 0;
}
div#top_nav nav div.searchbox_wrapper div#searchbox p.highlight-link a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  padding-right: 0.5rem;
  text-decoration: underline;
}
div#top_nav nav div.searchbox_wrapper div#searchbox p.highlight-link a:hover {
  color: white;
}

/*****************************************************************************/
/* Main content */
div.document {
  flex-grow: 1;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  padding-top: var(--navbarHeight);
  /***************************************************************************/
  /***************************************************************************/
}
@media (max-width: 50rem) {
  div.document {
    margin-left: 0px;
    margin-right: 0px;
  }
}
div.document section,
div.document div.section {
  margin: 4rem 0;
}
div.document section:first-child,
div.document div.section:first-child {
  margin-top: 0;
}
div.document section > section,
div.document div.section > div.section {
  margin: 4rem 0;
}
div.document section > section > section,
div.document div.section > div.section > div.section {
  margin: 2rem 0 0 0;
}
div.document section > section > section > section,
div.document div.section > div.section > div.section > div.section {
  margin: 1.5rem 0 0 0;
}
div.document h1 + section,
div.document h1 + div.section {
  margin-top: 2.5rem !important;
}
div.document h2 + section,
div.document h2 + div.section {
  margin-top: 1.5rem !important;
}
div.document img {
  max-width: 100%;
}
div.document code {
  padding: 2px 4px;
  background-color: var(--inlineCodeBackgroundColor);
  border-radius: 0.2rem;
  font-family: "Roboto Mono", monospace, Monaco, Consolas, Andale Mono;
  font-size: 0.9em;
}
div.document div.documentwrapper {
  max-width: 65rem;
  margin: 0 auto;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
}
div.document div.highlight {
  color: #252630;
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}
div.document div.highlight pre {
  font-family: "Roboto Mono", monospace, Monaco, Consolas, Andale Mono;
}
div.document div[class*=highlight] {
  overflow-x: auto;
}
div.document a.headerlink {
  font-size: 0.6em;
  display: none;
  padding-left: 0.5rem;
  vertical-align: middle;
}
div.document h1,
div.document h2,
div.document h3,
div.document h4,
div.document h5,
div.document h6,
div.document str,
div.document b {
  font-weight: 700;
}
div.document h1 {
  margin: 0.8rem 0 0.5rem 0;
}
div.document h2 {
  margin: 0.8rem 0 0.5rem 0;
}
div.document h3, div.document h4 {
  margin: 1rem 0 0.5rem 0;
}
div.document h1:hover a.headerlink,
div.document h2:hover a.headerlink,
div.document h3:hover a.headerlink,
div.document h4:hover a.headerlink {
  display: inline-block;
}
div.document p,
div.document li {
  font-size: 1rem;
  line-height: 1.5;
}
div.document li p {
  margin: 0 0 0.5rem 0;
}
div.document ul, div.document ol {
  padding-left: 2rem;
}
div.document dd {
  margin-left: 1.5rem;
}
div.document hr {
  border: none;
  height: 1px;
  background-color: var(--dividerColor);
  margin: 2rem 0;
}
div.document table.docutils {
  border-collapse: collapse;
}
div.document table.docutils th, div.document table.docutils td {
  border: 1px solid var(--dividerColor);
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}
div.document table.docutils th p, div.document table.docutils th ul, div.document table.docutils td p, div.document table.docutils td ul {
  margin: 0.3rem 0;
}
div.document table.docutils th ul, div.document table.docutils td ul {
  padding-left: 1rem;
}
div.document form input {
  padding: 0.5rem;
}
div.document form input[type=submit], div.document form button {
  border: none;
  background-color: var(--mainNavColor);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
div.document span.highlighted {
  background-color: var(--searchHighlightColor);
  padding: 0 0.1em;
}
div.document div#search-results {
  padding-top: 2rem;
}
div.document div#search-results p.search-summary {
  font-size: 0.8em;
}
div.document div#search-results ul.search {
  list-style: none;
  padding-left: 0;
}
div.document div#search-results ul.search li {
  border-bottom: 1px solid var(--dividerColor);
  margin: 0;
  padding: 2rem 0;
}
div.document div#search-results ul.search li > a:first-child {
  font-size: 1.2rem;
}
div.document dd ul, div.document dd ol {
  padding-left: 1rem;
}
div.document dl.py {
  margin-bottom: 2rem;
}
div.document dl.py dt.sig {
  background-color: var(--codeBackgroundColor);
  color: var(--fontColor);
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, Monaco, Consolas, Andale Mono;
  font-size: 0.9rem;
  padding: 1rem;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
}
div.document dl.py em.property {
  color: var(--sidebarColor);
  font-weight: bold;
}
div.document dl.py span.sig-name {
  color: var(--codeBlue);
  font-weight: bold;
}
div.document dl.py em.property {
  color: var(--codeGreen);
}
div.document dl.py em.sig-param {
  margin-left: 2rem;
}
div.document dl.py em.sig-param span.default_value {
  color: var(--codeGreen);
}
div.document dl.py span.sig-return span.sig-return-typehint {
  color: var(--fontColor);
}
div.document dl.py span.sig-return span.sig-return-typehint pre {
  color: var(--fontColor);
}
div.document dl.py em.sig-param > span:first-child {
  font-weight: bold;
}
div.document dl.cpp, div.document dl.c {
  margin-bottom: 1rem;
}
div.document dl.cpp dt.sig, div.document dl.c dt.sig {
  background-color: var(--codeBackgroundColor);
  color: var(--fontColor);
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, Monaco, Consolas, Andale Mono;
  font-size: 0.9rem;
  padding: 1rem;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  line-height: 1.4;
}
div.document dl.cpp span.sig-name, div.document dl.c span.sig-name {
  color: var(--codeBlue);
  font-weight: bold;
}
div.document dl.cpp span.sig-indent, div.document dl.c span.sig-indent {
  margin-left: 2rem;
}
div.document dl.cpp span.target + span, div.document dl.c span.target + span {
  color: var(--codeGreen);
}
div.document dl.cpp span.sig-param > span:first-child, div.document dl.c span.sig-param > span:first-child {
  font-weight: bold;
}
div.document div.admonition {
  box-shadow: 0px 0px 0px 1px var(--dividerColor);
  border-radius: 0.2rem;
  margin: 1rem 0;
  overflow: hidden;
}
div.document div.admonition p {
  box-sizing: border-box;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0;
}
div.document div.admonition p:first-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
div.document div.admonition p + p {
  padding-top: 0.2rem;
}
div.document div.admonition p.admonition-title {
  font-weight: bolder;
  letter-spacing: 0.01rem;
}
div.document div.admonition.hint, div.document div.admonition.important, div.document div.admonition.tip {
  border-left: 5px solid #56b79c;
}
div.document div.admonition.hint p.admonition-title, div.document div.admonition.important p.admonition-title, div.document div.admonition.tip p.admonition-title {
  color: #56b79c;
}
div.document div.admonition.note {
  border-left: 5px solid #587f9f;
}
div.document div.admonition.note p.admonition-title {
  color: #587f9f;
}
div.document div.admonition.danger, div.document div.admonition.error {
  border-left: 5px solid #e6a39a;
}
div.document div.admonition.danger p.admonition-title, div.document div.admonition.error p.admonition-title {
  color: #e6a39a;
}
div.document div.admonition.attention, div.document div.admonition.caution, div.document div.admonition.warning {
  border-left: 5px solid #e7b486;
}
div.document div.admonition.attention p.admonition-title, div.document div.admonition.caution p.admonition-title, div.document div.admonition.warning p.admonition-title {
  color: #e7b486;
}

/*****************************************************************************/
/* Sidebar */
div.sphinxsidebar {
  background-color: var(--sidebarColor);
  border-right: 1px solid var(--dividerColor);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15rem;
  box-sizing: border-box;
  padding: var(--navbarHeight) 1rem 1rem;
}
@media (max-width: 50rem) {
  div.sphinxsidebar {
    display: none;
  }
}
div.sphinxsidebar div.sphinxsidebarwrapper {
  height: 100%;
  overflow-y: auto;
}
div.sphinxsidebar ul {
  padding-left: 0rem;
  list-style: none;
}
div.sphinxsidebar ul li {
  font-size: 0.9rem;
  line-height: 1.2;
}
div.sphinxsidebar ul li a {
  display: block;
  box-sizing: border-box;
  padding: 0 0.2rem 0.6rem;
  color: var(--fontColor);
  text-decoration: none;
}
div.sphinxsidebar ul li a.current {
  color: var(--linkColor);
}
div.sphinxsidebar ul li a:hover {
  color: var(--linkColor);
}
div.sphinxsidebar ul li > ul {
  padding-left: 1rem;
}
div.sphinxsidebar p {
  color: var(--faintFontColor);
}

/*****************************************************************************/
/* The right sidebar, showing the table of contents for the current page. */
div#show_right_sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
  background-color: var(--sidebarColor);
  border-left: 1px solid var(--dividerColor);
  border-bottom: 1px solid var(--dividerColor);
  padding: var(--navbarHeight) 1rem 0rem;
}
div#show_right_sidebar p {
  font-size: 0.9em;
}
div#show_right_sidebar p span {
  color: var(--faintFontColor);
  vertical-align: middle;
}
div#show_right_sidebar p span.icon {
  color: var(--linkColor);
  font-size: 0.9em;
  padding-right: 0.2rem;
}

div#right_sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  background-color: var(--sidebarColor);
  width: 15rem;
  border-left: 1px solid var(--dividerColor);
  box-sizing: border-box;
  padding: var(--navbarHeight) 1rem 1rem;
  height: 100%;
  overflow-y: auto;
}
div#right_sidebar p span {
  color: var(--faintFontColor);
  vertical-align: middle;
}
div#right_sidebar p span.icon {
  color: var(--linkColor);
  font-size: 0.9em;
  padding-right: 0.2rem;
}
div#right_sidebar ul {
  padding-left: 0rem;
  list-style: none;
}
div#right_sidebar ul li {
  font-size: 0.9rem;
  line-height: 1.2;
}
div#right_sidebar ul li a {
  display: block;
  box-sizing: border-box;
  padding: 0 0.2rem 0.6rem;
  color: var(--fontColor);
  text-decoration: none;
}
div#right_sidebar ul li a.current {
  color: var(--linkColor);
}
div#right_sidebar ul li a:hover {
  color: var(--linkColor);
}
div#right_sidebar ul li > ul {
  padding-left: 1rem;
}
div#right_sidebar p {
  color: var(--faintFontColor);
}
@media (max-width: 50rem) {
  div#right_sidebar {
    display: none;
  }
}

/*****************************************************************************/
/* Footer */
div.footer {
  box-sizing: border-box;
  padding-top: 2rem;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--faintFontColor);
}

p#theme_credit {
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--faintFontColor);
}

/*****************************************************************************/
/* Buttons */
div.button_nav_wrapper {
  margin-left: 15rem;
  margin-right: 15rem;
}
@media (max-width: 50rem) {
  div.button_nav_wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
}
div.button_nav_wrapper div.button_nav {
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}
div.button_nav_wrapper div.button_nav div {
  box-sizing: border-box;
  padding: 1rem;
  flex: 50%;
}
div.button_nav_wrapper div.button_nav div a {
  display: block;
}
div.button_nav_wrapper div.button_nav div a span {
  vertical-align: middle;
}
div.button_nav_wrapper div.button_nav div a span.icon {
  font-weight: bold;
  font-size: 0.8em;
}
div.button_nav_wrapper div.button_nav div.left a {
  text-align: left;
}
div.button_nav_wrapper div.button_nav div.left a span.icon {
  padding-right: 0.4rem;
}
div.button_nav_wrapper div.button_nav div.right a {
  text-align: right;
}
div.button_nav_wrapper div.button_nav div.right a span.icon {
  padding-left: 0.4rem;
}

/*****************************************************************************/
/* Pygments overrides in dark mode */
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight {
  --black: #000000;
  --red: #ff9393;
  --darkBlue: #3a37ff;
  --grey: #a8a8a8;
  --pink: #ff99d8;
  --torquoise: #68e9e9;
  --brown: #d48a00;
  --purple: #ce04e9;
  --paleYellow: #ffffc0;
  background: var(--codeBackgroundColor);
  color: var(--fontColor);
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Affix */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Delimiter */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Function.Magic */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable.Magic */
  /* Literal.Number.Integer.Long */
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight pre,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight pre {
  line-height: 125%;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight td.linenos .normal,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight span.linenos,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight td.linenos .special,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight td.linenos .special {
  color: var(--black);
  background-color: var(--paleYellow);
  padding-left: 5px;
  padding-right: 5px;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight span.linenos.special,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight span.linenos.special {
  color: var(--black);
  background-color: var(--paleYellow);
  padding-left: 5px;
  padding-right: 5px;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .hll,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .hll {
  background-color: var(--paleYellow);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .c,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .c {
  color: var(--torquoise);
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .err,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .err {
  border: 1px solid var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .k,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .k {
  color: var(--codeGreen);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .o,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .o {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .ch,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .ch {
  color: var(--torquoise);
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .cm,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .cm {
  color: var(--torquoise);
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .cp,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .cp {
  color: var(--brown);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .cpf,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .cpf {
  color: var(--torquoise);
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .c1,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .c1 {
  color: var(--torquoise);
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .cs,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .cs {
  color: var(--torquoise);
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gd,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gd {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .ge,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .ge {
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gr,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gr {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gh,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gh {
  color: var(--codeBlue);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gi,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gi {
  color: var(--codeGreen);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .go,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .go {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gp,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gp {
  color: var(--codeBlue);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gs,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gs {
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gu,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gu {
  color: var(--purple);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .gt,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .gt {
  color: var(--codeBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .kc,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .kc {
  color: var(--codeGreen);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .kd,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .kd {
  color: var(--codeGreen);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .kn,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .kn {
  color: var(--codeGreen);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .kp,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .kp {
  color: var(--codeGreen);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .kr,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .kr {
  color: var(--codeGreen);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .kt,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .kt {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .m,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .m {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .s,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .s {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .na,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .na {
  color: var(--codeGreen);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nb,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nb {
  color: var(--codeGreen);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nc,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nc {
  color: var(--codeBlue);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .no,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .no {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nd,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nd {
  color: var(--purple);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .ni,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .ni {
  color: var(--grey);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .ne,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .ne {
  color: var(--red);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nf,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nf {
  color: var(--codeBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nl,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nl {
  color: var(--codeGreen);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nn,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nn {
  color: var(--codeBlue);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nt,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nt {
  color: var(--codeGreen);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .nv,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .nv {
  color: var(--darkBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .ow,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .ow {
  color: var(--pink);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .w,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .w {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .mb,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .mb {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .mf,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .mf {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .mh,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .mh {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .mi,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .mi {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .mo,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .mo {
  color: var(--grey);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .sa,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .sa {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .sb,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .sb {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .sc,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .sc {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .dl,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .dl {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .sd,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .sd {
  color: var(--red);
  font-style: italic;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .s2,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .s2 {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .se,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .se {
  color: var(--brown);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .sh,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .sh {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .si,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .si {
  color: var(--pink);
  font-weight: bold;
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .sx,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .sx {
  color: var(--codeGreen);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .sr,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .sr {
  color: var(--pink);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .s1,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .s1 {
  color: var(--red);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .ss,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .ss {
  color: var(--darkBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .bp,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .bp {
  color: var(--codeGreen);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .fm,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .fm {
  color: var(--codeBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .vc,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .vc {
  color: var(--darkBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .vg,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .vg {
  color: var(--darkBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .vi,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .vi {
  color: var(--darkBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .vm,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .vm {
  color: var(--darkBlue);
}
:root[data-mode=dark] body[data-dark_mode_code_blocks=true] .highlight .il,
:root[data-mode=darkest] body[data-dark_mode_code_blocks=true] .highlight .il {
  color: var(--grey);
}

/*# sourceMappingURL=basic_mod.css.map */
